*{
padding:0px;
margin:0px 0px 0px 0px;
}
html{
width: 100%;
height:100%;

}
body{
height:100%;
background-color:transparent;
position:relative;
font-family: Arial;
}
html > body{
min-height:100%;
height:auto;
}

#header_top{
width: 100%;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
#top_image{
  display: inline-block;
  width: 28%;
  margin-left: 3%;
  align-items: center;
}
#top_icon{
  display: inline-block;
  width: 12%;
  margin-top: 3%;
  margin-left: 0%;
  float:right;
    top: -28px;
    left: -13px;
    height: 15px;
}
#top_icon2{
  display: inline-block;
  width: 12%;
  margin-top: 1%;
   margin-left: 0%;
   float:right;
    top: -28px;
    left: -13px;
    height: 15px;
}
#top_name{
  display: inline-block;
  width: 25%;
    height: 102px;
}
#header_img{
  width: 100%;
  height: 480px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#header_inside{
  margin:0 auto;
  position:absolute;
}
#menu{
position:absolute;
background-color: transparent;
align-content:center;
top:600px;
left:0px;
width: 100%;
}
#menu a{
  color: black;
  text-decoration: none;
}
.menubtn {
  border: none;
  outline: none;
  width:16.33%;
  text-align:center;
  padding:16px 0 16px 0px;
  display:inline;
  background-color:#C2D3EF;
  font-size: 15px;
  cursor: pointer;
  border-radius:10px; 
-webkit-border-radius: 10px; 
-moz-border-radius: 10px;
}
.menubtn:hover {
  border: none;
  outline: none;
  background-color: red;
  color:white;
  font-size: 16px;
  font-weight: 700;
}
.dropbtn {
    background-color: #C2D3EF;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    padding: 16px;
    font-size: 15px;
    width:220px;
    border: none;
    border-radius:10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px;
}
.dropdown .menubtn{
  border: none;
  outline: none;
  width:220px;
  text-align:center;
  padding:8px 0 8px 0px;
  display:inline;
  background-color:#007ACC;
  color:white;
  font-size: 15px;
  margin-top: 2px;
  cursor: pointer;
}
.dropdown .menubtn:hover {
  background-color: black;
  color:white;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 0px 0px 0px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: black;}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
#wrapper{
padding-top: 120px;
padding-left: 10%;
}
#content_inside{
width:99%;
margin:0;
position:relative;
align-content:center;
top:-4px;
left:11px;
overflow:hidden;
}
.color{
color:black;
}
#main_block{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#464646;
overflow:hidden;
float:left;
width:100%;
}
.about{
background-color:#C2D3EF;
box-shadow: 2px;
width:50%;
display:inline-block;
padding:13px 26px 13px 20px;
word-break: break-word;
margin-right: 5px;
margin-bottom: 25px;
border-radius:25px; 
-webkit-border-radius: 25px; 
-moz-border-radius: 25px;
margin-left: 3%;
}
.about p{
padding:5px 0 0 2px
}
.about a{text-decoration:none}
.about a:hover{text-decoration:none; color:red; font-weight: 700;}
.news{
background-color:#C2D3EF;
width:28%;
display: inline-block;
padding:13px 26px 13px 20px;
word-break: break-all;
    border-radius:25px; 
    -webkit-border-radius: 25px; 
    -moz-border-radius: 25px;
}
.news p{
padding:5px 0 0 2px
}
.news a{text-decoration:none}
.news a:hover{text-decoration:none; color:red; font-weight: 700;}
#namestore{
    text-align:center; 
    background-color:black; 
    color:white; 
    margin-top:2px;
    padding-top:5px; 
    padding-bottom:5px; 
    border-radius:50px; 
    -webkit-border-radius: 50px; 
    -moz-border-radius: 50px;
    border-style:solid;
    border-width:1px;
    border-color:white;
}
#namestore:hover{
    background-color:red;
    font-weight:700;
    border-style:solid;
    border-width:1px;
    border-color:red;
}
#footer{
width:100%;
height:54px;
color: white;
background-color:black;
position:relative;
left: 0px;
top:-1px;
}
.footer_menu{
text-align: left;
font-size: 16px;
list-style-type:none;
padding:15px 0 0 0;
width:100%;
    height: 28px;
}
.footer_menu li{
display:inline;
position:relative;
line-height:17px;
}
.footer_menu li a{
color:white;
background-color:transparent;
text-decoration:none;
position:relative;
}
.footer_menu li a:visited{text-decoration:none}
.footer_menu li a:hover{font-size: 17px; font-weight: 700;}
#footer_inside p{
padding:10px 0 0 0px;
}
.btnqq
{
   font-weight: 700; 
   color: #FFFFFF; 
   background-color: #000000;
   cursor: pointer;
}
.btnqq:hover
{
    font-weight: 700; 
    color: #FFFFFF; 
    background-color: red;
}
.btnup
{
   font-weight: 300; 
   color: white; 
   background-color: #007ACC;
   border-width:2px;
   border-color:white;
   cursor: pointer;
}
.btnup:hover
{
    font-weight: 700; 
    color: black; 
    background-color: #FF8000;
    border-width:2px;
    border-color:black;
}
.main {
    max-width: 1266px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
}
h4 {
    color: black;
    font-size: 12px;
}
h5 {
    color:black;
    font-size: 30px;
    word-break: break-all;
}
h2 {
  margin-left: 0%;
}
#myBtnContainer{
  margin-left: 3%;
}
.row {
    margin: 0px;
    width: 100%;
}

.row,
.row > .column {
    padding: 15px;
}

.row,
.row > .columnhome {
    padding: 15px;
}
.column {
    float: left;
    width: 18%;
    display: none;
}
.columnhome {
    float: left;
    width: 27%;
    display: none;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.content {
    background-color: #A2DD89;
    width: 200px;
    padding: 10px;
}
.contenthome {
    background-color: #C2D3EF;
    width: 300px;
    padding: 10px;
}
.contenthome a{text-decoration:none;}
.contenthome a:hover{text-decoration:none;}

.show {
    display: inline;
}

.btn {
  border: none;
  outline: none;
  width:18%;
  text-align:center;
  padding:16px 0 16px 0px;
  display:inline-block;
  background-color: #C2D3EF;
  color: black;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: red;
  color:white;
  font-size: 16px;
  font-weight: 700;
}

.btn.active {
  background-color: red;
  color: white;
}

input:focus {outline: none; }

.mySlides {display: none;}
img {vertical-align: middle;
    text-align: center;
}

.slideshow-container {
  width: 100%;
  height: 380px;
  position: relative;
  margin: 0px;
}

.active {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@media only screen and (max-width: 300px) {
}


* {box-sizing: border-box;}
.img-magnifier-container {
  position:relative;
}
.img-magnifier-glass {
  position: absolute;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: none;
  width: 200px;
  height: 200px;
}
